@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma");

@import url ("https://fonts.googleapis.com/css?family=Baloo+Tamma|Poiret+One");
h1{
  color:lightblue;
  text-align: center;
  border: 3px solid pink;
  background-color: gray;
  font-family:Baloo Tamma;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
p{
  color:lightpink;
  text-align: center;
  border: 2px dotted pink;
  background-color: gray;
  font-family: Poiret One;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
ul{
  background-color: gray;
  color: lightblue;
  border: 2px dotted lightblue;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#glitchedsentence {
  color: lightpink;
  background: grey;
}
body{
  background-color: lightblue;
}
h4{
  text-align: center;
  color: red;
}
