@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma");

@import url ("https://fonts.googleapis.com/css?family=Baloo+Tamma|Poiret+One");
h1{
  color:lightblue;
  text-align: center;
  border: 7px groove pink;
  background-color: gray;
  font-family:Baloo Tamma;
}
p{
  border-left: 6px solid lightpink;
  border-right: 6px solid lightpink;
  background-color: grey;
  text-align: center;
  color: lightpink;
}

img {
    display: block;
    margin: auto;
    width: 15%;
}
ul{
  background-color: gray;
  color: lightblue;
  border: 2px dotted lightblue;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}
ol{
  background-color: gray;
  color: lightpink;
  border: 2px dotted lightpink;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}
#glitchedsentence {
  color: lightpink;
  background: grey;
}
body{
  background-color: lightblue;
}
h4{
  text-align: center;
  color: red;
}
nav{
  text-align: center;
  background-color: lightpink;
  border: 6px dotted gray;
}
.navigator{
padding: 8;
background-color: lightblue;
border: 3px dotted grey;
}
a:hover {
  text-decoration: none;
  background-image:    url("https://a.disquscdn.com/get?url=http%3A%2F%2Fi.gifntext.com%2F37128-it-s-time-to-stop.gif&key=WJI128uwKpAax4PLSmPEyg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  font-size: 18px;
}

I'm just gonna leave an anime link here
https://www.youtube.com/watch?v=T-d0CMSL3mo
